/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require admin-lte
 *= require admin-lte/skins/skin-blue.scss
 *= require bootstrap
 *= require bootstrap-treeview
 *= require bootstrap-datepicker
 *= require bootstrap-directional-buttons
 *= require select2
 *= require_tree .
 *= require_self
 */


.spinner {
    display: block;
    position:   fixed;
    z-index:    1200;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;
    background-image: image-url('loading.gif');
}

.page_tips {
    width: 30%;
    min-width: 180px;
    height: 40px;
    margin-left: 35%;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2000;
  .success {
    .inner {
      background: darkseagreen;
    }
  }
  .failed {
    .inner {
      background: lightcoral;
    }
  }
  .inner {
    padding: 0 15px;
    display: inline-block;
    font-size: 14px;
    border-radius: 0 0 4px 4px;
    color: #000000;
    height: 36px;
    line-height: 36px;
    .close-tips {
      margin-left: 5px;
    }
  }
}

.required abbr, .invalid-feedback{
  color: red;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #f4f4f4;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #f4f4f4;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc;
  border-color: #367fa9;
  padding: 1px 10px;
  color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: rgba(255,255,255,0.7);
}